<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.auth.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user" column="user" jdbcType="CHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user,pwd,
        email,create_at,update_at,
        status
    </sql>
</mapper>
